<!DOCTYPE html>
<html>
<head>
    <title>Create Student</title>
</head>
<body>

<h1>Create Student</h1>

<form method="POST">

    {% csrf_token %}

    <label>Name:</label>
    <br>
    <input type="text" name="name" required>

    <br><br>

    <label>Roll No:</label>
    <br>
    <input type="number" name="roll_no" required>

    <br><br>

    <label>Email:</label>
    <br>
    <input type="email" name="email" required>

    <br><br>

    <label>Course:</label>
    <br>
    <input type="text" name="course" required>

    <br><br>

    <label>Age:</label>
    <br>
    <input type="number" name="age" required>

    <br><br>

    <button type="submit">
        Create Student
    </button>

</form>

<br>

<a href="{% url 'student_list' %}">
    Back to Student List
</a>

</body>
</html>
